# (final gitignore)
*.rpyc
*.rpymc
*.pyc
__pycache__/
game/saves/
game/persistent/
game/cache/
game/imagecache/
game/audio_cache/
build/
dist/
android/
rapt/
web/
xcode/
ios/
mac/
linux/
windows/
*.zip
*.exe
renpy/
sdk/
lib/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.psd
*.clip
*.kra
*.blend
*.xcf
